DB_HOST=xxxx
SERVER_PORT=xxxx
DATABASE=xxxx
DB_PORT=xxxx
DB_NAME=xxxx
DB_USER=xxxx
DB_PASSWORD=xxxx
DDL_AUTO=xxxx
SHOW_SQL=xxxx
FORMAT_SQL=xxxx
JWT_SECRET=xxxx
JWT_EXPIRATION=xxxx
JWT_REFRESH_EXPIRATION=xxxx
GOOGLE_CLIENT_ID=xxxx
GOOGLE_CLIENT_SECRET=xxxxt